html {
  scroll-behavior: smooth;
}

body {
  @apply text-stone-800;
}

.container {
  margin: auto;
  padding: 0 1.5rem;
  max-width: 85rem !important;
}
@media screen and (min-width: 640px) {
  .container {
    padding: 0 2.5rem;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1620px !important;
    padding: 0 3.5rem;
  }
}

/* hero section */
.hero h1 span {
  @apply text-2xl xs:text-4xl sm:text-5xl md:text-6xl;
}

.shadow-text {
  text-shadow: 0.1em 0.1em 0.1em #000000;
}

/* wave */
.hero .wave {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSI5MXB4IiB2aWV3Qm94PSIwIDAgMTI4MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iI0ZGRkZGRiI+PHBhdGggZD0iTTg1My44OTMsODYuOTk4Yy0zOC44NTksMC01OC44MTEtMTYuNDU1LTc3Ljk1Ni0zNS4wNTFjMTguMjk1LTEwLjUzNiw0MC44OTEtMTguMjc2LDczLjM3OC0xOC4yNzYgYzM4LjY4NSwwLDY0LjEzMiwxMi41NjQsODUuNDg5LDI4LjM0N0M5MTYuMTkyLDcyLjAxMiw5MDAuOCw4Ni45OTgsODUzLjg5Myw4Ni45OTh6IE01MjYuMjY1LDgwLjk0NSBjLTYuNTE3LTAuNTYyLTEzLjU5OS0wLjg3OS0yMS40MS0wLjg3OWMtNzAuNzk5LDAtOTEuMzM3LDI3LjIyOS0xMzQuNDMzLDM1LjY2MmMxNC45MDEsMy43MiwzMi4xMTgsNi4wNyw1Mi44OTgsNi4wNyBDNDcwLjE3MSwxMjEuNzk3LDUwMC4zNCwxMDMuNDIxLDUyNi4yNjUsODAuOTQ1eiIgZmlsbC1vcGFjaXR5PSIuMyIvPjxwYXRoIGQ9Ik02NjMuNDU4LDEwOS42NzFjLTY3LjEzNywwLTgwLjM0NS0yMy44MjQtMTM3LjE5My0yOC43MjZDNTY3LjA4Niw0NS41NTUsNTk3LjM4MSwwLDY2NS42OTEsMCBjNjEuODU3LDAsODUuMzY5LDI3Ljc4MiwxMTAuMjQ2LDUxLjk0N0M3MzYuODg4LDc0LjQzNCw3MTcuNDU5LDEwOS42NzEsNjYzLjQ1OCwxMDkuNjcxeiBNMjE3LjY4LDk0LjE2MyBjNTUuOTcxLDAsNjIuNTI2LDI0LjAyNiwxMjYuMzM3LDI0LjAyNmM5Ljg1OCwwLDE4LjUwOC0wLjkxNiwyNi40MDQtMi40NjFjLTU3LjE4Ni0xNC4yNzgtODAuMTc3LTQ4LjgwOC0xMzguNjU5LTQ4LjgwOCBjLTc3LjA2MywwLTk5Ljk2LDQ4LjU2OS0xNTEuNzUxLDQ4LjU2OWMtNDAuMDA2LDAtNjAuMDA4LTEyLjIwNi04MC4wMTEtMjkuNTA2djE2LjgwNmMyMC4wMDMsMTAuODkxLDQwLjAwNSwyMS43ODIsODAuMDExLDIxLjc4MiBDMTYwLjAxNCwxMjQuNTcsMTU4LjYwOCw5NC4xNjMsMjE3LjY4LDk0LjE2M3ogTTEyMDAuMTEyLDQ2LjI5MmMtNTcuNDkzLDAtNTYuOTM1LDQ2LjU5NS0xMTUuMDE1LDQ2LjU5NSBjLTUzLjYxMiwwLTU5Ljc1NS0zOS42MTgtMTE1LjYwMi0zOS42MThjLTE1LjI2NywwLTI1LjM4MSwzLjc1MS0zNC42OSw4Ljc0OWMzNi4wOTYsMjYuNjc1LDYwLjUwMyw2Mi41NTIsMTE3LjM0Miw2Mi41NTIgYzY5LjI0OSwwLDc1Ljk1MS00My41NTksMTQ3Ljk2NC00My41NTljMzkuODA0LDAsNTkuOTg2LDEwLjk0Myw3OS44ODgsMjEuNzc3Vjg1Ljk4MiBDMTI2MC4wOTcsNjguNzcxLDEyMzkuOTE2LDQ2LjI5MiwxMjAwLjExMiw0Ni4yOTJ6IiBmaWxsLW9wYWNpdHk9Ii41Ii8+PHBhdGggZD0iTTEwNTIuMTQ3LDEyNC41N2MtNTYuODQsMC04MS4yNDctMzUuODc2LTExNy4zNDItNjIuNTUyYy0xOC42MTMsOS45OTQtMzQuMDA1LDI0Ljk4LTgwLjkxMiwyNC45OCBjLTM4Ljg1OSwwLTU4LjgxMS0xNi40NTUtNzcuOTU2LTM1LjA1MWMtMzkuMDUsMjIuNDg3LTU4LjQ3OSw1Ny43MjQtMTEyLjQ4LDU3LjcyNGMtNjcuMTM3LDAtODAuMzQ1LTIzLjgyNC0xMzcuMTkzLTI4LjcyNiBjLTI1LjkyNSwyMi40NzUtNTYuMDkzLDQwLjg1Mi0xMDIuOTQ2LDQwLjg1MmMtMjAuNzc5LDAtMzcuOTk2LTIuMzQ5LTUyLjg5OC02LjA3Yy03Ljg5NSwxLjU0NS0xNi41NDYsMi40NjEtMjYuNDA0LDIuNDYxIGMtNjMuODExLDAtNzAuMzY2LTI0LjAyNi0xMjYuMzM3LTI0LjAyNmMtNTkuMDcyLDAtNTcuNjY1LDMwLjQwNy0xMzcuNjY5LDMwLjQwN2MtNDAuMDA2LDAtNjAuMDA4LTEwLjg5MS04MC4wMTEtMjEuNzgyVjE0MGgxMjgwIHYtMzcuMjEyYy0xOS45MDMtMTAuODM1LTQwLjA4NC0yMS43NzctNzkuODg4LTIxLjc3N0MxMTI4LjA5OCw4MS4wMTEsMTEyMS4zOTcsMTI0LjU3LDEwNTIuMTQ3LDEyNC41N3oiLz48L2c+PC9zdmc+);
  background-size: 100% 91px;
  bottom: 0;
  height: 91px;
  z-index: 10;
  transform: scale(1, 1);
}

.hero .arrow {
  animation-name: upDown;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.7rem);
  }
  100% {
    transform: translateY(0);
  }
}

section .heading {
  @apply justify-center items-center flex flex-col gap-4;
}
section .heading .icon svg {
  @apply h-8 w-8 text-black;
}
section .heading .icon {
  position: relative;
}

section .heading .icon::before,
section .heading .icon::after {
  @apply content-[''] absolute top-1/2 w-[40vw] h-[0.09rem] bg-blue-900/20;
}
section .heading .icon::before {
  @apply left-[calc(100%+1rem)];
}

section .heading .icon::after {
  @apply right-[calc(100%+1rem)];
}

section .heading h2 {
  @apply text-5xl text-black font-bold uppercase;
}
section .heading h2 {
  text-shadow: 0.08em 0.08em 0.08em rgba(0, 0, 0, 0.4);
}

section .heading h2 span {
  @apply text-[4rem];
}

/* gallyer section */

.toggle button {
  @apply px-6 py-2.5 rounded-xl font-bold text-xl uppercase;
}
.swiper-button-prev,
.swiper-button-next {
  @apply backdrop-blur-xl bg-sky-400/90 rounded-full !min-h-12 !min-w-12 flex;
}
.swiper-button-prev {
  @apply !left-[1.3rem];
}
.swiper-button-next {
  @apply !right-[1.3rem];
}
.swiper-button-prev::after,
.swiper-button-next::after {
  @apply text-blue-100 !text-xl font-black;
}
.swiper-pagination-bullet {
  @apply bg-white/20 !h-2 !w-2;
}

.swiper-pagination-bullet {
  @apply !bg-primary !opacity-50 !h-2 !w-4 !rounded-md transition-all duration-300;
}
.swiper-pagination-bullet-active {
  @apply !bg-sky-400 !w-7 !opacity-100;
}

/* Contact section */
#contact .contact-info .img {
  border-radius: 50% 50% 42% 58% / 38% 68% 32% 62%;
}

#contact .right .title {
  @apply text-xl uppercase font-semibold text-primary;
}
#contact .right .title {
  text-shadow: 0.08em 0.1em 0.1em rgba(0, 0, 0, 0.4);
}
#contact .right span {
  @apply text-base;
}
#contact .right .title span {
  @apply text-2xl;
}

#contact .left .type-text span {
  @apply text-2xl;
}
#contact .left .type-text span {
  font-variant: small-caps;
}

/* guests section */
.guests .toggle-btn img {
  @apply h-24 w-24;
}

/* footer section */

footer {
  background: linear-gradient(
    20deg,
    rgba(59, 130, 246, 0.7) 0%,
    rgba(96, 165, 250, 1) 100%
  );
}

footer .links svg {
  @apply h-6 w-6 text-gray-700;
}

.room .img-height {
 position: relative;
    flex: 1 0 auto;
    text-align: center;
    text-decoration: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .3s ease-in-out;
    margin-bottom: 0 !important;
    overflow: hidden;
    transition-duration: 480ms;
}

.room .img-height:hover {
  flex: 5 0 auto;
}
